name: Test ECS action
on: 
  workflow_dispatch:
      inputs:
        action_input:
          description: 'Action to perform'
          required: true
          default: 'test'
          type: choice
          options:
            - test
            - apply
            - destroy
            - validate

jobs:
  test-action:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: run local actions
        uses: ./ # use correct github action here eg.  quantumci/ecs-action-test@v1.0.0
        with:
          existing_base_infra: no
          existing_platform_infra: yes
          base_conf_var: Pradipbabar/my-ecs-action-test/main/Base_Infra/config.tfvars
          platform_conf_var: Pradipbabar/my-ecs-action-test/test-ecs-2/Platform_Infra/config.tfvars
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }} # add Secretes variables 
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }} # add Secretes variables
          aws_default_region: us-east-1
          remote_bucket_name: test-123-ecs # add your own s3 bucket name
          remote_bucket_region: us-east-1 # add your own s3 bucket region
          action: ${{ inputs.action_input }}